[submodule "VanillaVotifier"]
	path = VanillaVotifier
	url = https://github.com/TemplexMC/VanillaVotifier.git
[submodule "docker-crontab"]
	path = docker-crontab
	url = https://github.com/willfarrell/docker-crontab.git
[submodule "DiscordRelay"]
	path = DiscordRelay
	url = https://github.com/VanillaPartnership/DiscordRelay.git
[submodule "templex-dockerized"]
	path = templex-dockerized
	url = https://github.com/TemplexMC/templex-dockerized
